*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid{
  max-width: 85%;
  background-color: transparent !important;
  .bbb{
    transform-origin: 50% 0 0;
    font-size: 2.5rem;
    font-family: Inter, sans-serif;
    cursor: pointer;
    .Acordion-p{
      color: rgb(204, 204, 204);
      font-size: 1.4rem;
      line-height: 150%;
    }
    .faq-line{
      background: rgb(204, 204, 204);
      height: 0.2rem;
      margin: 2rem 0;
      width: 100%;
    }
  }
}
